/*
    1.  Categories
    2.  Riddles
*/

/* 1.  Categories */

.Categories
{
    display: inline-block;   
    width: 150px;
    border: 1px solid #000;
    margin-right: 15px;
    padding: 10px;
    vertical-align: top;
}

/* 2.  Riddles */

.Riddles
{
    display: inline-block;
    margin-left: 25px;
}

.riddle
{
    border: 2px solid #000000;
    margin:  10px 0 10px 0;
    padding: 10px 15px 10px 20px;
}

.riddle .answer
{
    display: none;
}

.riddle .answer.visible
{
    display: block;
    
}

.Riddles .details
{
    display: none;
}

.Riddles .details.visible
{
    display: block;
    padding-top: 10px;
}

.Riddles form
{
    border: none;
}

.Riddles .name
{
    font-size: large;
    display: inline-block;
    width: 275px;
    color: #000000;
}

.Riddles li 
{
    margin-top: 15px;
    list-style: none;
}

.Riddles li a
{
    padding-left: 25px;   
}

.Riddles li p
{
    padding: 10px 0 0 25px;   
}

.Riddles li p a
{
    padding-left: 0px;   
}

.Riddles .submit 
{
    margin-left: 365px;
}

.expandIcon
{
    background-image: url('/images/expandcollapse.png');
    background-position: -10px -10px;
    width: 10px;
    height: 10px;
    margin: 0 8px 0 -16px;   
}

.expandIcon.collapse
{
    background-position: -29px -10px;
}

.ui-state-default
{
    border: 1px solid #cccccc;
    background-color: #ffffff; 
    padding: 5px 0 5px 20px;
}