@charset "utf-8";
/* CSS Document */


.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor:default
}

.hoverezoomffect {
	-webkit-transition: -webkit-transform 10s; /* For Safari 3.1 to 6.0 */
    transition: transform 10s;

}

.hoverzoomeffect:hover {
	-webkit-transform: scale(1.2,1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2,1.2);
}

body { margin: 0px; padding: 0px; font-family: Verdana; font-size: 16px; background-color:grey;}

h1 { margin: 30px 0px 30px 0px; font-weight: normal; font-family: Verdana; font-size: 50px; color: rgba(0,0,0,0.7); font-weight: bolder;line-height: 50px; text-transform: capitalize;}
.flashcard h1{ -webkit-transform:font-size 0.3s;  transition: font-size 0.3s;}
.flashcard h1:hover{font-size:80px;}


h2 { margin: 0px 0px .5em 0px; font-family: Verdana; font-size: 24px; color: #FF6666; }
h3 { font-size: 1.2em; margin: 0px 0px 0px 0px; color: #155102; }
p,ul { margin: 0px 0px 1.5em 0px; line-height: 22px; color: #3d2701; }
a { color: #900; }
.clear { clear: both; line-height: 1px; }


header  { display: block; position: absolute; top: 0px; left: 0px; height: 70px; background-color: #01579b; box-shadow: 0 3px 2px 1px rgba(33,33,33,0.34); -webkit-box-shadow: 0 3px 2px 1px rgba(33,33,33,0.34);}
header p {font-size:30px; font-weight: bolder; color:white; padding: 25px 0px 0px 10px;}
article { display: block; position: absolute; top: 70px; left: 0px;}
article .content_container { position: absolute; top: 0px; left: 0px; background: white;}
article .content_container .loading_content { position: absolute; top: 0px; left: 180px; background: white;}
article .wordlist ul {list-style-type:none; padding:5px 5px; margin:0;}
article .wordlist ul li {display:block; width:180px; background-color:white; margin:3px; text-align:center;left:-30px; padding: 30px 0;-webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
    transition: transform 0.3s;text-transform: capitalize; border:0 0 0 1px rgba(0,0,0,0.26) solid;}
article .wordlist ul li:hover{background-color:#FFCCCC; -webkit-transform: scale(1.2,1.2); transform: scale(1.05,1.05);}
article .wordlist ul li.selected {background-color:#FF6666; color:white; font-size: 20px; font-weight: bolder;transform: scale(1.05,1.05);}

article .listdrawer{
	width:30px;
	background-color:rgba(10,10,10,0.4);
	height:100%;
	position:absolute;
	/*left: -200px;*/
}


article .content_container .loading_content .submenu {background-color: #03a9f4;
display: block;
width: 1024px;
height: 80px;
position: absolute;
top: 0;
left: -180px;
box-shadow: 0 2px 2px 1px rgba(33,33,33,0.26);
-webkit-box-shadow: 0 2px 2px 1px rgba(33,33,33,0.26);}

article .content_container .loading_content .flashcard audio { position:relative; width:300px;height:60px; margin:auto;
}
article .content_container .loading_content .submenu .menutab { position:relative; float:right; padding:0 20px; }
article .content_container .loading_content .submenu .menutab ul { list-style-type:none; padding:10px 0px; margin:0; height:100%}
article .content_container .loading_content .submenu .menutab ul li { display:block; float:right; color:#b3e5fc; height:21px; width:120px; text-align:center; background-color:#03a9f4; margin-left:10px;padding:22px 0px; font-size:16px; -webkit-transition:font-size 0.3s; transition: font-size 0.3s;}
article .content_container .loading_content .submenu .menutab ul li.selected{color:#FFFFFF; border-bottom: 5px solid #ffee58; font-size: 20px;} 
article .content_container .loading_content .submenu .menutab ul li:hover{color:#FFFFFF; font-size: 20px;}
article .content_container .loading_content .flashcard { display:block; left:210px; border:1px solid #999; width:470px;height:250px;top:150px;position:relative; padding:10px; text-align:center; box-shadow: 3px 3px 2px 1px rgba(33,33,33,0.12); -webkit-box-shadow: 3px 3px 2px 1px rgba(33,33,33,0.12); float:left; }

.flashcard .synonymslist{float:left; width:100%;}
.flashcard .synonymslist ul {list-style-type:none; padding:10px; margin:0;}
.flashcard .synonymslist ul li{float:left; display:block; height:25px; width:100px; margin:20px; background-color: #FF6666; color: white; padding:10px 0px;-webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
    transition: transform 0.3s;}
.flashcard .synonymslist ul li:hover{ -webkit-transform: scale(1.2,1.2); transform: scale(1.15,1.15);}


article .content_container .loading_content .gamezone { display:block; width:1000px;height:500px;top:75px; left:450px; position:relative; display:none; float:left; }
.gamezone .sidebar { display:block; width:150px; height:100%; position:relative; top:0; left:40px; float:left; text-align:center; padding:10px;}
.gamezone .sidebar audio { width:150px;}
.gamezone .sidebar p {position: absolute; top: 180px; width: 110px; margin-left: 30px; text-align: -webkit-left; font-size: 0.8em;}

.gamepanels { display:none; width: 600px;
height: 100%;
position: absolute;
margin-left: 280px;
top: 70px;}

.gamepanels .gamepanel:hover { background-color:#F90; color:#FFF; -webkit-transform: scale(1.2,1.2); transform: scale(1.15,1.15);}
.gamepanels .gamepanel {display:block; border: 1px solid #999; width:140px; height:20px; padding: 60px 0; position:relative; float:right; margin:13px;text-align:center; box-shadow:3px 3px 2px #DDDDDD; -webkit-box-shadow:3px 3px 2px #DDDDDD;-webkit-transition: -webkit-transform 0.3s;  font-size: 20px;}
.gamepanels .gamepanel::after {
display:none;
content:"+100!";
color:#FDD835;
}

.gamepanels .gamepanel.clicked {
	display:block; border: 1px solid #999; width:140px; height:20px; padding: 60px 0; position:relative; float:right; margin:13px;text-align:center; box-shadow:3px 3px 2px #DDDDDD; -webkit-box-shadow:3px 3px 2px #DDDDDD; background-color:#F90;
}
.gamepanels .gamepanel.clicked:hover {}

article .notification {display:block; width:350px; height: 240px; left:420px; top:120px; position:relative; border: 1px solid #999; text-align:center; background-color:white; display:none; box-shadow:1px 1px 1px #666666; -webkit-box-shadow:1px 1px 1px #666666;}
article .notification #starboard { background-color:yellow; width:0; height:90px; position:absolute; left:10px; top:110px;}
article .notification #stars { width:330; height:90px; position:absolute; left:10px; top:110px;}
article .notification #close { display:block; padding:10px; position:absolute; bottom:0; left:145px;  color: black; font-weight: bolder; font-size: 18px;}

article .notification #close:hover {  color:#00ffde;}

article .content_container .loading_content .scrolling {width:2500px; position:relative; top:0; left:0;}

.audiocontrol { width:64px; height:64px; background-image:url(../images/sound-icon.png); display:block; float:left; margin:20px 20px 20px 5px;}

#next{right:0; bottom:0;padding:15px; width:80px;position: absolute;display:block; color: rgba(0,0,0,0.54); font-weight: bolder; font-size: 18px;}
#next:hover{ color:#00ffde;}

#previous{left:10px; bottom:0;padding:15px; width:80px;position: absolute;display:block; color: rgba(0,0,0,0.54); font-weight: bolder; font-size: 18px;}
#previous:hover{ color:#00ffde;}

#gamestart { display:block; text-align:center; background-color:#666; color:#FFF; margin:auto; position:absolute; width: 120px;
    left: 180px;
    bottom: 155px; font-weight: bolder; padding:15px 0; }
#gamestart:hover {  background-color:#03a9f4;}

#cardword {float:left; margin-left:15px; margin-right:15px; text-align:left;}
#gameword {padding: 60px 30px;
margin: 15px 150px; display:none;}

#gametitle {padding: 60px 30px;
margin: 15px 160px;}

#gamedescript {position: absolute;
font-size: 16px;
left: 160px;
top: 200px;}

footer  { display: block; position: absolute; bottom: 0px; left: 0px; height: 60px; background-color: #01579b; box-shadow: 0 -2px 2px 1px rgba(33,33,33,0.26); -webkit-box-shadow: 0 -2px 2px 1px rgba(33,33,33,0.26);}

.page {margin: 5px auto; }
/*for prototype only*/
article .content_container .wordlist {position:absolute; top:0px; left:0px; box-shadow: 2px 0 2px 1px rgba(33,33,33,0.16); -webkit-box-shadow: 2px 0 2px 1px rgba(33,33,33,0.16);background-color:white;}

.score {
display: block;
font-family: Verdana;
font-size: 30px;
position: absolute;
top: 100px;
font-weight: bold;
color: #555;
text-align: right;
margin-right: 20px;
right: 0px;
display:none;
}

.score span {
color:#FDD835;
}



.page.landscape  { position: relative; width: 1024px; height: 698px; overflow: hidden; }
.page.landscape header  { width: 1024px; -webkit-border-radius: 5px 5px 0 0;
           border-radius: 5px 5px 0 0;}
.page.landscape article { width: 1024px; height: 568px; }
.page.landscape footer  { width: 1024px; -webkit-border-radius: 0 0 5px 5px;
           border-radius: 0 0 5px 5px;}

.page.landscape article .content_container { width: 1024px; height: 565px; }
.page.landscape article .content_container .wordlist {width: 200px; height: 570px;}
.page.landscape article .content_container .loading_content {width:845px; height: 570px;}

