@charset "UTF-8";
/* CSS Document */
.overLayer{
	display:block;
	position:fixed;
	top:0;
	}
	
.gameArea{
	    padding: 10px 0px;}
.gameArea .row{
	margin-bottom:20px;
	}
	
.timer .alert{
	    padding: 0 10px;}	
.timer h2{
	font-size:16px;}
.timer h2 .label{
	font-size:200%;
	color:#F08C0F;
	    min-width: 2em;
	margin: 10px 0;
	padding:20px;
    display: -webkit-inline-box;
	background-image:url(image/clockface.png);
	background-size:cover;
	background-position:center;}
.timer-glow{
	 box-shadow: 0px 0px 5px #FF4A4D;}
.word-played{
	background-color:#aaa;
	border-color:#999;}
	
.cross{
	    vertical-align: middle;
    position: fixed;
    top: 30%;
    left: 45%;}
.cross h1{
	color:red;
	font-size:10em;
	opacity:0.8}
	
div .adjustWidth{
	width:14%}
	
div .adjustWidth12{
	width:12%}
	
.keyMark{
	font-size:2em;
	color:#777;}