{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styling %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/audemes.css' %}">
    {% endblock styling %}
    {% block javascript %}
        <script src="{% static 'jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% endblock javascript %}
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid text-center">
            <div class="navbar-header">
              <p class="navbar-brand">Audemes</p>
            </div>
            <ul class="nav navbar-nav tabs" role="tablist">
                <li role="presentation" id="index" ><a role="tab" tabindex="0" href="index">Home</a></li>
                <li role="presentation" id="dictionary"><a role="tab" tabindex="0" href="dictionary">Dictionary</a></li>
                <li role="presentation" id="game"><a role="tab" tabindex="0" href="game" >Games</a></li>
                <li role="presentation" id="about"><a role="tab" tabindex="0" href="about">About</a></li>
            </ul>
           <!-- <form class="navbar-form navbar-right">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Dictionary">
                <div class="input-group-btn">
                  <button class="btn btn-default" aria-label="Search Dictionary" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
            </form> -->
        </div>
    </nav>
    <main role="main">
        {% block content %}

        {% endblock %}
    </main>
<footer role="contentinfo"></footer>
</body>
</html>