@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.search-area {
	background-color: rgba(41,45,109,1);
	padding-top:2%;
	min-height:80px;
	color:white;
}

.search-area.show-results {
	background-color:white ;
	min-height:120px;
	color:rgba(41,45,109,1);
}

.main-content{
	padding-bottom:2%;
}

.search-wrapper {
	background-color:white;
	width:100%;
	padding:5px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	min-height:42px;
}

.show-results .search-wrapper {
	background-color:white;
	width:100%;
	padding:5px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	min-height:42px;
	border: rgba(41,45,109,1) solid 2px;
	float:right;
}

h3 {
	
	margin-top:5px;
	font-size:20px;
}

.categories h3{
	margin-left: -50px;
}

#results {
	position:relative;
}

.active {
	cursor:pointer;
	
}

#browseByCategories.active {
  float: right;
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;
  margin-right: 50px;
  position:relative;
}

input,select {
	color:initial;
}

select {
	padding:2px;
	min-width:128px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border:0;
	outline:0;
}

.show-results select {
	padding:2px;
	min-width:96px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: rgba(41,45,109,1) solid 1px;
	outline:0;
}

input#search, input#search:focus {
	border:0;	
	outline:0;
	width:90%;
	min-height:32px;
	background-color:white;
	font-size:16px;
}

input#submit, input#submit:focus {
	position: absolute;
	right: 25px;
	height:32px;
	width:32px;
	background-image:url(../images_2014/Search-icon.png);
	background-color:transparent;
	border:0;
	outline:0;
}

input#search:-webkit-autofill {
	background-color:white !important;
}

#advance-search {
	float:right;
	padding:5px;
	color:#FFF;
	font-size:13px;
}

@media (min-width: 768px){
.search-area {
	

}

}

.clear {
	clear:both;
}

.resultpanel {
	margin-bottom:1px;
	padding-bottom:3%;

}

.resultpanel+.resultpanel {
	border-top: 1.5px solid grey;

}

#advance {
	display:none;
	padding-bottom:20px

}

.pagination {
	margin:0;
}

.paginate>li{
	float:left;
	display:block;
	margin:10px;
}

.paginate_click {
	text-decoration:underline;
}

.paginate_click.active {
	text-decoration:none;
}

.tag {
	float:left;
	position:relative;
	display:block;
	margin:0 10px 0 10px;;
	list-style:none;
	cursor:pointer;
	padding:0;
}

.category img {
	margin-right:5%;
}

.category a {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:rgba(41,45,109,1);
	font-weight:bold;
	text-decoration:none;
    
    position: absolute;
    top: 10px;/*prevent two lines in one a tag*/
}

.category:hover, .category a:visited {
	text-decoration:none;
	cursor:pointer;
}

.categories {
	padding-left:50px;
}

.category-link {
	display:none;
	cursor:pointer;
}
/*fixed footer*/

html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -2em;
padding-bottom: 10px;
}
.footer, .push {
	height: 2em;
	padding:10px;
   text-align:center;
   font-size:1.2em;
   background-color:rgba(120,121,130,1);
   color:white;

}