<?xml version="1.0" encoding="utf-8"?>
<audioplay>
    <config>
	<!-- 
	
	    AudioPlay - visit http://www.strangecube.com/audioplay/ for more
	    
	    Here is an example multiple players configuration (set unique id for each player)
	    
	-->
	
	<player playerid="1">
	    <!-- set player's background color -->
	    <backgroundColor>0xffffff</backgroundColor>
	
	    <!-- music file -->
	    <musicfile>Music-Music-Serial_1.mp3</musicfile>
	
	    <!-- how many times music will be played (0 - unlimited) -->
	    <repeatTimes>1</repeatTimes>
	
	    <!-- should music starts automatically -->
	    <autostart>no</autostart>
	    
	    <!-- button directory -->
	    <buttondir>buttons/negative</buttondir>
	    
	    <!-- player mode - playstop or playpause -->
	    <mode>playstop</mode>
	    
	    <!-- send stop command to other players ? -->
	    <sendstop>yes</sendstop>
	    
	    <!-- listen stop command from other players ? -->
	    <listenstop>yes</listenstop>
	    
	    <!-- track id - must be unique -->
	    <trackid></trackid>
	    
	    <!-- which player (trackid) will be started after this player will end playing -->
	    <nexttrack></nexttrack>
	    
	    <!-- use background color specified in 'backgroundColor' tag - no transparency -->
	    <usebgcolor>no</usebgcolor>
	    
	    <!-- player alpha fade in duration -->
	    <fadeindur>1000</fadeindur>
	    
	    <!-- volume 0-100 -->
	    <mastervol>90</mastervol>

	    <!-- you could specify URL of external scripts that will be used when play/pause/stop action is invoked (default: none) -->
            <playscriptfile></playscriptfile>
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>

	    <!-- autostart delay in ms (default 500)-->
	    <autostartdelay>100</autostartdelay>
	    
	    <!-- external interface feature (player could be controlled by JS play(), stop(), pause() methods) - default: no -->
	    <einterface>no</einterface>

	    <!-- inititial buffering - music download starts immediately after player loads -->
            <initbuf>no</initbuf>
	
	    <!-- images could be customized by changing images in button directory -->
	    

	</player>
	
	<!-- 
	    For multiple instances of AudioPlay add separate player tags with unique playerid attribute
	    then add '?playerid=X' to every AudioPlay url in object/embed tags. For example: 'audioplay.swf?playerid=2'
	-->
	
	<player playerid="2">
	    <musicfile>Music-Music-Serial_2.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <sendStop>yes</sendStop>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>yes</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="3">
	    <musicfile>Music-Music-Serial_3.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="4">
	    <musicfile>Music-Music-Serial_4.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	
	<player playerid="5">
	    <musicfile>Music-Music-Serial_5.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>

	<player playerid="6">
	    <musicfile>Music-SFX-Serial_1.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
		<player playerid="7">
	    <musicfile>Music-SFX-Serial_2.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
		<player playerid="8">
	    <musicfile>Music-SFX-Serial_3.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
		<player playerid="9">
	    <musicfile>Music-SFX-Serial_4.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="10">
	    <musicfile>Music-SFX-Serial_5.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="11">
	    <musicfile>SFX-Music-Serial_1.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="12">
	    <musicfile>SFX-Music-Serial_2.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="13">
	    <musicfile>SFX-Music-Serial_3.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="14">
	    <musicfile>SFX-Music-Serial_4.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="15">
	    <musicfile>SFX-Music-Serial_5.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="16">
	    <musicfile>SFX-Music-Parallel_1.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="17">
	    <musicfile>SFX-Music-Parallel_2.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="18">
	    <musicfile>SFX-Music-Parallel_3.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="19">
	    <musicfile>SFX-Music-Parallel_4.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="20">
	    <musicfile>SFX-Music-Parallel_5.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	 <player playerid="21">
	    <musicfile>Music-Music-Parallel_1.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="22">
	    <musicfile>Music-Music-Parallel_2.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="23">
	    <musicfile>Music-Music-Parallel_3.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="24">
	    <musicfile>Music-Music-Parallel_4.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="25">
	    <musicfile>Music-Music-Parallel_5.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	
	<player playerid="26">
	    <musicfile>SFX-SFX-Parallel_1.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	
	<player playerid="27">
	    <musicfile>SFX-SFX-Parallel_2.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	
	<player playerid="28">
	    <musicfile>SFX-SFX-Parallel_3.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	
	<player playerid="29">
	    <musicfile>SFX-SFX-Parallel_4.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	
	<player playerid="30">
	    <musicfile>SFX-SFX-Parallel_5.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="31">
	    <musicfile>SFX-SFX-Serial_1.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="32">
	    <musicfile>SFX-SFX-Serial_2.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="33">
	    <musicfile>SFX-SFX-Serial_3.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="34">
	    <musicfile>SFX-SFX-Serial_4.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
	<player playerid="35">
	    <musicfile>SFX-SFX-Serial_5.mp3</musicfile>
	    <repeatTimes>1</repeatTimes>
	    <autostart>no</autostart>
	    <buttondir>buttons/negative</buttondir>
	    <mode>playstop</mode>
	    <listenstop>yes</listenstop>
	    <trackid></trackid>
	    <nexttrack></nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>100</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
    </config>
</audioplay>

