

 body {
	width: 100%;
	overflow-x: hidden;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:rgba(41,45,109,1);
 }
  .logo {
	margin-top: 30px;
	margin-left:10px;
	height: 80px;
	padding: 0;
 }

 .main-navigation{
	background-color: rgba(245,245,248,1);
} 
 
 
@media (min-width: 768px){
 .navlist-container {
	margin: 80px 10px 40px 10px;
 }
 
 .navbar-default .navbar-nav>li +li{
	border-left: 1px solid rgba(41,45,109,1);
 }
 .navbar-default .navbar-nav>li {
	height:20px;

 }


  }
 
 .navbar-default .navbar-nav>li>a {
	color: rgba(41,45,109,1);
	padding: 0 8px;
	font-weight: bold;
	font-size: 1.1em;
 }
 
 .navbar-default .navbar-nav>li>a:hover{
	
 }
 
 .main-navigation {
	border-bottom: 10px solid rgba(41,45,109,1);
	margin-bottom: 0;
 }	
 
  .try-audeme {
	padding:10px;
	border-bottom: 2px solid rgba(164,165,183,1);
	margin-bottom:0;
	text-align:center;
	background-color: rgba(236,236,242,1);

  }
  
  .try-audeme h3 {
	font-size:18px;
	color: rgba(41,45,109,1);
	margin-left:-50px;
	font-weight: bold;

  }

  .try-audeme h4 {
	font-size:42px;
	color: rgba(41,45,109,1);
	font-style: italic;
	margin-left:-50px;

  }
  
  .intro {
  	padding:18px;
	background-color: rgba(245,245,248,1);
  	border-bottom: 2px solid rgba(41,45,109,1);
	margin-bottom:0;
	padding-top:12px;
  }
  
  .intro h3 {
	font-size:18px;
	color: rgba(41,45,109,1);
	font-weight: bold;
  }
  
  .intro p{
	line-height: 1.1;
  }

  
 .game-entry {
	display:block;
	border: 1px solid grey;
	margin: 28px;
	height: 145px;
	width: 200px;
	background-color: rgba(236,236,242,1);
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	
 }
  
  footer {
	padding:10px;
   text-align:center;
   font-size:1.2em;
   background-color:rgba(120,121,130,1);
   color:white;
  }
  

